body {
    background-color: #344a72;
    font-family: "Roboto", sans-serif;
  }
  
  .signup-box {
    width: 360px;
    height: 620px;
    margin-top:100px;
    margin-left: 600px;
    background-color: white;
    border-radius: 3px;
  }
  
  .login-box {
    width: 360px;
    height: 280px;
    margin: auto;
    border-radius: 3px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    color: #49c1a2;
  }
  
  .navbar{
    height : 80px;
    background-color: rgb(143, 153, 153);
    position: fixed; 
    top: 0;
    width: 100%; 
    margin-left: 0px;
}

.navbar h1{
    display: inline-block;
    margin-left : 20px;
    margin-top : 20px;
    position: absolute;
}
.navbar img{
    width: 45px;
    height: auto;
    margin-top:20px;
    margin-left : 10px;

    
}
.navbar ul{
    float: right;
    font-size: 18px;
}

.navbar li{
    display: inline-block;
    margin-top : 30px;
    margin-inline: 20px ;
}
#home {
    font-family: sans-serif;
    margin-bottom: 10px;
    
}   
a{
    
    text-decoration: none;
    color : rgba(47, 43, 43, 0.896);
}

a:hover{
   
    color: rgb(6, 29, 6);
    text-decoration: underline;
}